{% block form_row %}
    <div class="row_wrapper">
        <div class="label_wrapper">
            {% if form_label(form) != '' %}
                <div class="label_wrapper">
                    {{ form_label(form) }}
                </div>
            {% endif %}
        </div>
        <div class="field_wrapper">
            {{ form_widget(form) }}
         </div>
    {{ form_errors(form) }}
    </div>
{% endblock %}


{% block form_start %}
    {% set method = method|upper %}
    {% if method in ["GET", "POST"] %}
        {% set form_method = method %}
    {% else %}
        {% set form_method = "POST" %}
    {% endif %}

    <form name="{{ name }}" method="{{ form_method|lower }}"{% if action != '' %} action="{{ action }}"{% endif %}{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}{% if multipart %} enctype="multipart/form-data"{% endif %}>
    {{ form_row(form._token) }}
    {% if form_method != method %}
        <input type="hidden" name="_method" value="{{ method }}" />
    {% endif %}
    <div class="form_wrapper">
{% endblock %}

{% block form_end %}
    {%- if not render_rest is defined or render_rest -%}
    {%- endif -%}
    </form>
{% endblock %}

{% block choice_widget_expanded %}
    {% set iterated = false %}
    {% for name, choices in form.vars.choices if iterated == false %}
        {%  if choices is not iterable %}
            {% for child in form %}
                <div>
                    {{- form_widget(child) -}}
                    {{- form_label(child, null, {translation_domain: choice_translation_domain}) -}}
                </div>
            {% endfor %}

            {% set iterated = true %}

        {% else %}
        <b>{{ name }}</b>
            {% for key,value in choices %}
                    <div>
                        {{ form_widget(form[key]) }}
                        {{ form_label(form[key]) }}
                    </div>
            {% endfor %}
        {% endif %}
    {% endfor %}

{% endblock %}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
    <ul>
        {%- for error in errors -%}
            <li class="invalid_field">{{ error.message|trans }}</li>
        {%- endfor -%}
    </ul>
    {%- endif -%}
{%- endblock form_errors -%}