<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <script src="{{ asset('bundles/app/js/jquery-3.2.1.min.js') }}"></script>
        <script src="{{ asset('bundles/app/js/delete_confirmation.js') }}"></script>
        <script src="{{ asset('bundles/app/js/translate.js') }}"></script>
        <script src="{{ asset('bundles/app/js/flash_message.js') }}"></script>
        <script src="{{ asset('bundles/app/js/dropdown_projects.js') }}"></script>
        {% block additional_headers %}
        {% endblock %}
        <title>{% block title %}Timewise{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('bundles/app/css/main.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/app/css/forms.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/pd_styles.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block frame %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
