{% extends 'frame.html.twig' %}

{% form_theme form 'form/custom_theme.html.twig' %}

{% block additional_headers %}
    <script src="{{ asset('bundles/app/js/add_field.js') }}"></script>
    <script src="{{ asset('bundles/app/js/remove_field.js') }}"></script>
    <script src="{{ asset('bundles/app/js/remove_bootstrap_space.js') }}"></script>
{% endblock %}



{%- block form_widget_compound -%}
    <div class="inherited_wrapper" {{ block('widget_container_attributes') }}>
        {%- if form.parent is empty -%}
            {{ form_errors(form) }}
        {%- endif -%}
        {{- block('form_rows') -}}
        {{- form_rest(form) -}}
    </div>
{%- endblock form_widget_compound -%}

{% block body %}
    {{ form_start(form) }}
        <div class="general_form">
            {{ form_row(form.name) }}
            {{ form_row(form.description) }}
            {{ form_row(form.allowsOverlappingShifts) }}
            {{ form_row(form.comment) }}
            {{ form_row(form.submit) }}
        </div>
        <div class="general_form">
            <div id="add_list">
                {{ form_label(form.jobs) }}
                    {% for job in form.jobs %}
                            {{ form_row(job) }}
                        <button class="small_remove_button remove_field" data-target="project_jobs_{{ loop.index-1 }}_name">DELETE</button>
                    {% endfor %}

            </div>
                <input type="button" class="create_button basic_button add_field" value="{{ 'Add' | trans }}" data-val1="project" data-val2="jobs" data-new-id="{{ project.jobs | length }}" data-target-parent="add_list">

        </div>
    {{ form_end(form) }}
{% endblock %}