{% extends 'widgets/productivity_diagram/wrapper.html.twig' %}


{% block pd_body %}

    <div>{{ 'Your salary for this month' | trans }}</div>
    <div class="pd_data_big">
        <div class="censorship_popup">
            <div>{{ 'Show' | trans }}</div>
        </div>
        {% if wdfo.data.cnt > 0 %}
            {{ wdfo.data.cnt|number_format(2, ',', ' ') }} Kč
        {% else %}
            <div class="no_data">{{ 'No data' | trans }}</div>
        {% endif %}
    </div>
{% endblock %}