{% extends 'widgets/productivity_diagram/wrapper.html.twig' %}


{% block pd_body %}

    <div>{{ 'Overview for this day' | trans }}</div>

    {% for job, status in wddo.data %}
        <div class="pd_data_row">
            <div class="pd_data_cell">
                {% if status == 0 %}
                    {{ job }} has all slots full!
                {% else %}
                    {{ job }} still has {{ status }} unoccupied slots!
                {% endif %}
            </div>
        </div>
    {% else %}
        <div class="no_data">{{ 'No data' | trans }}</div>
    {% endfor %}
{% endblock %}