{% extends 'frame.html.twig' %}

{% block additional_headers %}
    <script src="{{ asset('bundles/app/js/censorship_popup.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="left_content">
        <div class="inbox">
            <div>{{ 'Messages' | trans }}</div>
            {% for message in app.user.messages|slice(0, 10) %}
                <div>{{ message.content }}</div>
            {% else %}
                <div class="no_data">{{ 'No data' | trans }}</div>
            {% endfor %}
        </div>

        {% include 'widgets/productivity_diagram/employee_week_overview.html.twig' %}

        {% include 'widgets/productivity_diagram/employee_finance_overview.html.twig' %}


    </div>
    <div class="right_content">
       <nav class="submenu">
           <a href="{{ path('employee_plan') }}">{{ 'Time plan' | trans }}</a>
           {{ 'Manage your own time and plan your shifts' | trans }}
       </nav>

        <h2>{{ 'You are working on this project, alligeable for these jobs' | trans }}:</h2>
        <ul class="job_list">
            {% for job in app.user.attending if job.project == app.user.preferredProject %}
                <li>{{ job.name }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
