{% extends 'frame.html.twig' %}

{% form_theme form 'form/custom_theme.html.twig' %}

{% block body %}
    {{ form_start(form) }}
        <div class="general_form">
            {{ form_row(form.date) }}
            {{ form_row(form.job) }}
            {{ form_row(form.beginTime) }}
            {{ form_row(form.endTime) }}
            {{ form_row(form.open) }}
            {{ form_row(form.capacity) }}
            {{ form_row(form.comment) }}
            {{ form_row(form.submit) }}
        </div>
    {{ form_end(form) }}
{% endblock %}
