.inherited_wrapper {
    display: inline-block;
}

.form_wrapper {
}

.row_wrapper {
    display: table-row;
    width: 100%;
}

.label_wrapper {
    display: table-cell;
    padding: 0.5em;
    width: 25%
}

.field_wrapper {
    display: table-cell;
    padding: 0.5em;
}

input[type=text],
input[type=date],
input[type=email],
input[type=time],
input[type=select],
select,
input[type=password]{
    width: 10em;
    padding: 0.5em;
    border: 0.1em solid lightgray;
    background: white;
    color: black;
}

input[disabled=disabled] {
    background: lightgray;
}

input[type=checkbox] {
    appearance: none;
    -webkit-appearance: none;
    border: 0.1em solid lightgray;
    background: white;
    width: 1em;
    height: 1em;
    margin: 0;
    font-size: 1em;
    margin: 0 0.2em 0 0.2em;
}

input[type=checkbox]:checked:after {
    content: '\2714';
}

textarea {
    border: 0.1em solid lightgray;
}

.invalid_field {
    list-style-type: none;
    background: red;
    padding: 0.2em 1em 0.2em 1em;
    border: 0.1em solid red;
    font-size: 8pt;
}
.money_field {
    display: inline-block;
    width: 5em;
    padding: 0 !important;
    float: left;
    height: 2em;
}

.money_submit {
    display: inline-block;
    float: left;
}
