body {
    font: 12pt Helvetica;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.header {
    background: #66dd66;
    width: 100%;
    height: 8em;
}

.user_panel {
    display: block;
    position: absolute;
    top: 0.25em;
    right: 0.25em;
    border: 0.2em solid darkgray;
    background: white;
    padding: 0.8em 0.4em 0.8em 0.4em;
}

.user_panel div {
    margin: 0.5em;
}


.main_menu {
    padding-left: 1em;
    background: #66dd66;
    bottom: 0;
}

.main_menu a {
    display: inline-block;
    padding: 0.8em 0.4em 0.8em 0.4em;
    color: white;
    text-decoration: none;
}

.main_menu a:hover, .main_menu .selected {
    background: white;
    color: black;
    text-decoration: none;
}

.submenu {

}

.submenu a {
    display: block;
    font-size: 18pt;
}

.submenu a:not(:first-child) {
    margin-top: 2em;
}

.login_panel_wrapper {
    top: 50%;
    padding: 2em;
    width: 30%;
    margin: 0 auto;
    border: 0.2em solid lightgray;
    border-radius: 0.5em;
}

.login_fail {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: middle;
    background: red;
}

.login_panel {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}

.login_panel input {
    width: 100%;
}

.login_panel form {
    width: 100%;
}

.login_panel_row {
    display: table-row;
    padding: 0.5em;
    line-height: 2em;
    width: 100%;
}

.login_panel_labels {
    width: 44%;
    display: table-cell;
    font-size: 10pt;
}

.login_panel_inputs {
    width: 55%;
    display: table-cell;
}

.table_wrapper {
    border: 0.2em solid lightgray;
    margin: 0 0 0.5em 0;
}

.table {
    display: table;
    border-collapse: collapse;
    table-layout: fixed;
}

.table_row {
    display: table-row;
    width: 100%;
}

.general_list_row:nth-child(even) {
    background: lightgray;
}

.general_list_header {
    font-weight: bold;
    font-size: 12pt;
    margin-bottom: 0.5em;
}

.table_header {
    font-weight: bold;
}

.table_cell {
    width: 2%;
    display: table-cell;
    vertical-align: middle;
}

.general_list_cell {
    padding: 0.8em 0.4em 0.8em 0.4em;
    vertical-align: middle;
}

.general_list_row_header {
    padding: 0.8em 0.4em 0.8em 0.4em;
    font-weight: bold;
    width: 100%;
}

.calendar_cell {
    padding: 2em 2em 2em 2em;
    background: #eeeeee;
    position: relative;
}

.calendar_cell.even {
    background: lightgray;
}

.icon {
    width: 1em;
    height: 1em;
}

.basic_button,
.basic_button:hover,
.login_button {
    display: inline-block;
    border: 0;
    border-radius: 0.5em;
    color: white;
    padding: 0.5em 1em 0.5em 1em;
    cursor: pointer;
    text-decoration: none;
    background: gray;
    font-variant: small-caps;
    font-size: 12pt;

}

.login_button {
    display: block;
    margin: 0 auto;
    width: 7em;
    height: 100%;
    background: url('../img/icons/forward_w.svg') 50% 50% no-repeat darkgreen;
    background-size: 50% 50%;
}

.login_left {
    float: left;
    width: 60%;
    height: 4em;
}

.login_right {
    float: left;
    height: 4em;
    width: 40%;
}

.create_button, .create_button:hover {
    padding-left: 2em;
    background: green url('../img/icons/create_w.svg') 0.5em 50% no-repeat;
    background-size: 0.75em 0.75em;
    text-decoration: none;
}

.logout_button {
    background: red;
}

.back_button {
    float: left;
    display: inline-block;
    background: url('../img/icons/back.svg') 50% 50% no-repeat lightgray;
    background-size: 30% 30%;
    padding: 1em;
    text-decoration: none;
    color: black;
    border-radius: 50%;
    vertical-align: middle;
}

.back_button:hover {
    background: url('../img/icons/back_w.svg') 50% 50% no-repeat gray;
    background-size: 30% 30%;
}

.vertical_center_parent {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flash_notice {
    padding: 0.5em 4em 0.5em 4em;
    background: greenyellow url('../img/icons/ok.svg') 0.5em 50% no-repeat;
    border-radius: 0.2em;
    margin: 0.2em;
}

.flash_error {
    padding: 0.5em 4em 0.5em 4em;
    background: orangered url('../img/icons/fail.svg') 0.5em 50% no-repeat;
    border-radius: 0.2em;
    margin: 0.2em;
}

.flash_warning {
    padding: 0.5em 4em 0.5em 4em;
    background: darkorange url('../img/icons/warning.svg') 0.5em 50% no-repeat;
    border-radius: 0.2em;
    margin: 0.2em;
}

.content {
    padding: 1em 0.5em 0 0.5em;
}

.general_form {
    float: left;
    vertical-align: top;
    width: 49%;
    position: relative;
    display: table;
}

.delete_confirmation_popup {
    position: absolute;
    background: white;
    border: 1px solid black;
    padding: 0.5em 1em 0.5em 1em;
    display: none;
}

.no_left_space {
    margin-left: 0 !important;
    padding-left: 0 !important;
}

.project_selector {

}

.dropdown_menu {
    border: 1px solid black;
    background: white;
    display: none;
    position: absolute;
    z-index: 99;
}

.dropdown_menu a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none !important;
}

.dropdown_menu a:hover {
    background: lightgray;
    text-decoration: none;
}

.calendar_button {
    padding: 1em 0 0 1em;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    color: black;
    font-weight: bold;
    text-decoration: none;
    overflow: hidden;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.calendar_button:hover {
    background: gray;
    color: white;
    text-decoration: none;
}

.dynamic_request_processing, .dynamic_request_processing:hover {
    background: lightgray;
}

.dynamic_request_error, .dynamic_request_processing:hover {
    background: darkred;
    color: white;
}

.shift_button {
    display: inline-block;
    border-radius: 0.5em;
    padding: 1em 0.5em 1em 0.5em;
    text-decoration: none;
    color: black;
    width: auto;
    font-size: 10pt;
}

.shift_button_positive, .shift_button_positive:hover {
    background: lightgreen;
    color: black;
    text-decoration: none;
}

.shift_button_negative, .shift_button_negative:hover {
    background: orange;
    color: black;
    text-decoration: none;
}

.shift_button_complete, .shift_button_complete:hover, .shift_button_complete:visited, .shift_button_complete:active {
    background: green;
    color: white;
    text-decoration: none;
    cursor: default;
    pointer-events: none;
}

.shift_button_disabled, .shift_button_disabled:hover, shift_button_disabled:visited, .shift_button_disabled:active {
    background: gray;
    color: white;
    text-decoration: none;
    cursor: default;
    pointer-events: none;

}

.shift_button_missed, .shift_button_missed:hover, .shift_button_missed:visited, .shift_button_missed:active {
    background: red;
    color: white;
    text-decoration: none;
    cursor: default;
    pointer-events: none;
}

.middle_content {
    margin-top: 3em;
}

.left_content, .right_content {
    display: block;
    float: left;
    width: 47%;
    min-height: 10em;
    margin-right: 1em;
}

.no_data {
    height: 100%;
    text-align: center;
    vertical-align: middle;
    color: gray;
    line-height: 4em;
}

.page_header {
    font-weight: bold;
    font-size: 18pt;
    display: inline-block;
    vertical-align: middle;
    padding-left: 1em;
}

.switch_menu_wrapper {
    text-align: center;
}

.switch_menu {
    display: inline-block;
    height: 3em;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.switch_menu a {
    padding: 1em;
    background: lightgray;
    color: black;
    text-decoration: none;
}

.switch_menu a:hover, .switch_menu a.selected {
    background: gray;
    color: white;
}

.switch_menu a:first-child {
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
}

.switch_menu a:last-child {
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

.general_header {

}

.general_header_wrapper {
    margin-bottom: 1em;
}

.paging_button{
    display: inline-block;
    height: 1em;
    padding: 1em;
    background: lightgray;
    color: black;
    text-decoration: none;
}

.paging_button.left {
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    background: url('../img/icons/left.svg') lightgray 50% 50% no-repeat;
}

.paging_button.right {
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    background: url('../img/icons/right.svg') lightgray 50% 50% no-repeat;
}

.paging_button.left:hover {
    background: url('../img/icons/left_w.svg') gray 50% 50% no-repeat;
}

.paging_button.right:hover {
    background: url('../img/icons/right_w.svg') gray 50% 50% no-repeat;
}

.paging_label {
    height: 1em;
    max-height: 3em;
    display: inline-block;
    padding: 1em;
    background: lightgray;
    color: black;
    text-decoration: none;
}

.no_project_selected {
    margin-left: 3em;
}
.no_project_selected img {
    float: left;
}

.no_project_selected .nps1 {
    position: relative;
    top: 1.5em;
    left: 1em;
    font-weight: bold;
    font-size: 20pt;
}

.no_project_selected .nps2 {
    position: relative;
    top: 1.8em;
    left: 1.1em;
    font-size: 18pt;
}

h1 {

}

h2 {
    font-size: 16pt;
}

.project_description {
    color: gray;
    margin-left: 0.5em;
}

.job_list {
    list-style-image: url('../img/icons/right.svg')

}

.job_list li {
    margin: 1em;
}

.inbox {
    display: block;
    width: 100%;
    border: 0.1em solid lightgray;
    border-radius: 0.5em;
    padding: 1em 0em 1em 0em;
    margin-bottom: 1em;
}

.inbox div:first-child {
    font-weight: bold;
    font-size: 15pt;
}

.inbox div {
    font-size: 12pt;
    padding: 0.25em 0.5em 0.25em 0.5em;
}

.inbox div:nth-child(even) {
    background: lightgray;
}

.censorship_popup {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 95%;
    background: green;
    text-align: center;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}

.censorship_popup:hover {
    background: limegreen;
}

.censorship_popup div {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}

.page_switcher {
    width: 20%;
    margin: 1em auto;
}

.list_toggle {
    background: url('../img/icons/down.svg') 1% 50% no-repeat lightgray;
    font-weight: bold;
    cursor: pointer;
    padding: 0 0 0 2em;
    margin-top: 1em;
    vertical-align: middle;
    line-height: 3em;
}

.list_toggle.selected {
    background: url('../img/icons/up.svg') 1% 50% no-repeat lightgray !important;
}

.list_toggle_target {
    display: none;
}

.small_remove_button {
    background: url('../img/icons/fail.svg') 10% 50% no-repeat red;
    border: 0;
    cursor: pointer;
    padding: 0.2em 0.8em 0.2em 2em;
    border-radius: 0.5em;
    display: inline-block;
    margin: 0.5em 0 0 5em;
}

.noscript_message {
    background: red;
    color: white;
    text-align: center;
    padding: 1em;
}

.logo {
    padding: 1em 0 0 2em;
    background: url('../img/logo2.png') 0.5em 0.5em no-repeat;
    width: 50em;
    height: 10em;
}